@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}
#contacto{  
    background-image:url(../images/fondo-contacto.png) ;
    background-repeat: no-repeat;
    background-size: 100%;
    /* linea 6 imagen, linea 7 para que figure junto a linea 8, sino no se visualiza la imagen */
}
#proyectos{  
    background-image:url(../images/fondo-proyectos.png) ;
    background-repeat: no-repeat;
    background-size: 100%;
    /* linea 6 imagen, linea 7 para que figure junto a linea 8, sino no se visualiza la imagen */
}
h1{
    color: #E20000;
    font: size 36px;
}
p{
    color: #6a6a6a;
    font: size 16px;
}
textarea{
    height: 150px;
}
footer,footer a{
    color:white;
    font-weight: 100;
    
}
.form-control{
    border-radius: 14px;
}
.proyecto{
    border: 1px solid #eee
}
.proyecto h2{ /* Text transform sirve para dejar todo en mayuscula, font para acomodar tamaño */
    font-size: 16px;
    color:white;
    text-transform:uppercase;
    background-color: #E20000;
}
.btn-blanco{
    background-color: white;
    color: #370a6d;
}
.btn-blanco:hover{
    color:white;
    background-color: #370a6d;
}
.btn-rojo{
    color: white;
    background-color: #E20000;
    font-weight: 100;
}
.btn-rojo:hover{ /* el hover es para cuando colocas el cursor arriba tome esas propiedades */
    color:white;
    background-color: #370a6d;
}
.btn{
    border-radius: 14px;
}
.whatsapp{
    position: fixed;/* es para que quede fijo */
    right: 70px;;
    bottom:0px;
    background-color: #370a6d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.fa-whatsapp{
    font-size:32px;
    color:white
}


}
